If using pip to install (recommended), the library name to use in 'pip install <library>' is noted in parentheses following the
name if it is different from the common name

numpy
scipy
pyzmq
pandas
Jinja2
gnureadline
ipython
matplotlib
nose
patsy
pyparsing
python-dateutil
pytz
scikit-learn    (sklearn)
six
tornado
wsgiref
statsmodels
jsonschema
